<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> StukDoDo</h1>
  <p>
    This is my smart todo list Ruby on Rails Application
  </p>
  <% if current_user %>
  <%= link_to "Tasks", tasks_path, class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
